body {
	font-family: "Georgia", serif;
	background-color: #DCDCDC;
	color: #000000;
}

div {
	background-color: #A9A9A9;
	margin: 40px;
}

p {
	margin: 35px;
}

h1,h3{
	text-align: center;
}

img{
	margin: 5px;
	border: solid 20px #CD212A;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* for Navigation Bar*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family:"Georgia", "serif";
	background-color: #696969;
	color: #000000;
}

li {
	float: left;
}

li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #BCBCBE;
	color: #000000;
}

.active {
	background-color: #F8F8F8;
	color: #000000;
}


/* for Photo Timeline*/
.timeline {
	display: flex;
	overflow-x: auto;
 	margin: 25px;
}

.event {
 	flex-shrink: 0;
	width: 200px;
	text-align: center;
}

.event img {
 	max-width: 100%;
}

/* for Polaroid*/
div.polaroid {
 	width: 25%;
 	background-color: white;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 5px;
	margin-right: 10px;
}
